CONFIGURATION_PATH=/mnt/ext-drive/dockers/configurations/paperless-ngx
TZ=Europe/Warsaw

POSTGRES_DB: paperless
POSTGRES_USER: paperless
POSTGRES_PASSWORD: paperless

USERMAP_UID=1000
USERMAP_GID=1000
PAPERLESS_REDIS: redis://broker:6379
PAPERLESS_DBHOST: db
PAPERLESS_OCR_LANGUAGES=pol eng deu
PAPERLESS_OCR_LANGUAGE=pol
PAPERLESS_TIME_ZONE=${TZ}
PAPERLESS_URL=http://paperless.home
